data/festival.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="festival">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="info" type="InfoType"/>
        <xs:element name="venues" type="VenuesType"/>
        <xs:element name="performers" type="PerformersType"/>
        <xs:element name="events" type="EventsType"/>
      </xs:sequence>
    </xs:complexType>
    <!-- Vlastní omezení: unikátnost ID v rámci kolekcí -->
    <xs:unique name="uniqueVenueId">
      <xs:selector xpath="venues/venue"/>
      <xs:field xpath="@id"/>
    </xs:unique>
    <xs:unique name="uniquePerformerId">
      <xs:selector xpath="performers/performer"/>
      <xs:field xpath="@id"/>
    </xs:unique>
    <xs:unique name="uniqueEventId">
      <xs:selector xpath="events/event"/>
      <xs:field xpath="@id"/>
    </xs:unique>
    <!-- Vlastní omezení: referenční integrita eventů -->
    <xs:key name="venueKey">
      <xs:selector xpath="venues/venue"/>
      <xs:field xpath="@id"/>
    </xs:key>
    <xs:key name="performerKey">
      <xs:selector xpath="performers/performer"/>
      <xs:field xpath="@id"/>
    </xs:key>
    <xs:keyref name="eventVenueRef" refer="venueKey">
      <xs:selector xpath="events/event"/>
      <xs:field xpath="@venue_id"/>
    </xs:keyref>
    <xs:keyref name="eventPerformerRef" refer="performerKey">
      <xs:selector xpath="events/event"/>
      <xs:field xpath="@performer_id"/>
    </xs:keyref>
  </xs:element>

  <xs:complexType name="InfoType">
    <xs:sequence>
      <xs:element name="name" type="NonEmptyTextType"/>
      <xs:element name="edition" type="EditionType"/>
      <xs:element name="location" type="LocationType"/>
      <xs:element name="start_date" type="DateType"/>
      <xs:element name="end_date" type="DateType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="VenuesType">
    <xs:sequence>
      <xs:element name="venue" type="VenueType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="VenueType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="id" type="VenueIdType" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="PerformersType">
    <xs:sequence>
      <xs:element name="performer" type="PerformerType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PerformerType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="id" type="PerformerIdType" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="EventsType">
    <xs:sequence>
      <xs:element name="event" type="EventType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="EventType">
    <xs:attribute name="id" type="EventIdType" use="required"/>
    <xs:attribute name="venue_id" type="VenueIdType" use="required"/>
    <xs:attribute name="performer_id" type="PerformerIdType" use="required"/>
    <xs:attribute name="date" type="DateType" use="required"/>
    <xs:attribute name="time" type="TimeType" use="required"/>
  </xs:complexType>

  <!-- Vlastní omezení: ročník festivalu jako kladné celé číslo v rozsahu 1–99 -->
  <xs:simpleType name="EditionType">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="99"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Vlastní omezení: typ data -->
  <xs:simpleType name="DateType">
    <xs:restriction base="xs:date"/>
  </xs:simpleType>

  <!-- Vlastní omezení: pattern pro čas HH:MM (24h) -->
  <xs:simpleType name="TimeType">
    <xs:restriction base="xs:string">
      <xs:pattern value="([01]\d|2[0-3]):[0-5]\d"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Vlastní omezení: ID lokace ve tvaru vN (bez nuly) -->
  <xs:simpleType name="VenueIdType">
    <xs:restriction base="xs:string">
      <xs:pattern value="v[1-9]\d*"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Vlastní omezení: ID interpreta ve tvaru pN (bez nuly) -->
  <xs:simpleType name="PerformerIdType">
    <xs:restriction base="xs:string">
      <xs:pattern value="p[1-9]\d*"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Vlastní omezení: ID eventu ve tvaru eN (bez nuly) -->
  <xs:simpleType name="EventIdType">
    <xs:restriction base="xs:string">
      <xs:pattern value="e[1-9]\d*"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Vlastní omezení: neprázdný text (bez vedoucích/koncových mezer) -->
  <xs:simpleType name="NonEmptyTextType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:pattern value="\S(.*\S)?"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Vlastní omezení: délka lokace v rozmezí 5–120 znaků -->
  <xs:simpleType name="LocationType">
    <xs:restriction base="xs:string">
      <xs:minLength value="5"/>
      <xs:maxLength value="120"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
